<div class="container-fluid" style="background-color: grey">
    <div class="row">

        <div class="col-sm-9 col-md-10 main">
            <h1 class="page-header">Welcome</h1>



                <p>
                    Molecule
                </p>
                <div class =  "col-md-2" style="background-color: white">
                    <button class="unacquiredSkills" ng-repeat = "skill in unacquiredSkills" ng-style="getStyle(skill)" ng-mouseover="buttonClick(skill)"></button>
                </div>
                <div class="col-md-2" style="background-color: cadetblue">
                    <button ng-repeat = "skill in acquiredSkills" ng-style="getStyle(skill)" ng-mouseover="buttonClick(skill)"></button>

                </div>

        </div>
    </div>
</div>


