<!--<html ng-app ="Molecule">-->
    <!--<head>-->
        <!--<link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel = "stylesheet">-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->
        <!--<script src="../app.js"> </script>-->
        <!--<script src="course.controller.js"> </script>-->

    <!--</head>-->

    <!--<body ng-controller = "CourseController">-->

    <!--<div class="container">-->

        <!--<h1>Course</h1>-->
        <!--{{Hello}}-->


    <!--</div>-->
    <!--</body>-->
<!--</html>-->